*{
    margin: 0;
    padding: 0;
}
/* google font */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


body{
    font-family: 'Lato', sans-serif; 
}
.btn-primary {
    background: #e45471;
    border: none;
    color: #fff;
    padding: 11px 16px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
}
/* Home flower css styles */
.home-flower {
    background-color: #fdedf2;
    padding: 50px 0px 0px 0px;
}

.container {
    width: 1140px;
    margin: auto;
}

.flower-content {
    display: flex;
}
.left-content {
    width: 50%;
}

.left-content h1 {
    font-size: 45px;
    font-weight: 700;
    color: #272727;
    padding-bottom: 25px;
    padding-top: 60px;
}
.right-flower {
    width: 50%;
    margin-bottom: -3px;
}

.right-flower img {
    width: 330px;
}
.left-content p {
    color: #272727;
    font-size: 16px;
    font-family: lato;
    padding-bottom: 22px;
    line-height: 25px;
}
/* Feature flower css styles */
.feature-flower {
    padding: 100px 0px;
}
.feature-title {
    text-align: center;
    padding: 0 350px;
}

.feature-title h1 {
    color: #272727;
    font-size: 27px;
    padding-bottom: 15px;
}

.feature-title p {
    color: #333;
    font-size: 13px;
    padding-bottom: 30px;
}
.feature-all-flower {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center
}
.single-flower p {
    text-align: center;
    text-decoration: underline;
    font-size: 14px;
    font-family: lato;
    color: #333;
}
.single-flower img {
    width: 70%;
}
.single-flower {
    background: #f2dee7;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    padding-top: 30px;
}
.single-flower2 {
    background: #d9eff1;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    padding-top: 30px;
}
.single-flower3 {
    background: #e3ebdb;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    padding-top: 30px;
}
.flower-text p {
    margin-top: 25px;
    text-decoration: underline;
}
.single-flower2 img {
    width: 80%;
}
.single-flower3 img {
    width: 63%;
}